<div class="header">

  <%= link_to "home", tweets_path %>
  <%= link_to "newpost", new_tweet_path %>
</div>
<div class="topimage"></div>
<h3>Tweet一覧</h3>
<div class="link"><%= link_to "新規投稿へ", new_tweet_path %></div>

<%= button_to 'ログアウト', destroy_user_session_path , method: :delete ,class: 'btn btn-primary btn-sm'%>
<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="post">
      <%= t.body %>
      <%= t.endday %>
      <%= t.endday %>

      <%= link_to "詳細へ", tweet_path(t.id) %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= button_to "削除する", tweet_path(t.id), method: :delete ,class: 'btn btn-secondary'%>

    </div>
  <% end %>
</div>
